

/* PC 소형 to 노트북 (해상도 1024px ~ 1440px)*/ 
@media all and (min-width:1024px) and (max-width: 1440px) {
  
  // 회사 소개
  .company__introduce .company__info .con__box .content .content__desc p {font-size: 16px;}

  .company__overview .overview__title {font-size: 36px;}
  .company__overview .overview__desc {font-size: 16px;}


  .customer__text .form {width: 400px;}
  .customer__cs .customer__text h2 {font-size: 28px;}
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width: 1023px){


  .header .gnb__menu li a {font-size: 14px;}

  .company__overview { padding-top: 40px; padding-bottom: 60px;}
  .company__overview .overview__title {font-size: 32px;}
  .company__overview .overview__desc {font-size: 12px;}
  .company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {font-size: 20px;}
  .company__overview .overview__left {padding: 0;}
  .company__overview .overview__title {font-size : 24px}

  .main__hero .main__text .company__slogan {
    font-size: 5.5vw;
    white-space: normal;
  }




  .main__hero .main__text .company__desc {
    font-size: 20px;
  }

  .company__introduce .company__info .con__box .content .content__desc p {font-size: 16px;}


  .product__wrap .swiper-slide .product__sub {font-size: 13px;}
  .product__wrap .swiper-slide .product__sub h2 {font-size: 18px;}

  .product__info .product_sec__desc {font-size: 20px;}
  .product__wrap .btn__group {top: -140px;}

  .customer__cs .customer__text {display: block;}
  .customer__cs .customer__text > div {
    display: flex; margin-bottom: 40px;
    
    .apply__btn, .apply__tel{display: none;}
  }
  .customer__cs .customer__text .form {
    width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;
    .form__left, .form__right {
      display: block;
      width: calc(50% - 12px);
    }
    .cs__bottom {
      display: block;
      width: 100%;

      .personal {
        margin-bottom: 12px;
        text-align: right;

      }

      .form__submit {
        text-align: right;
      }
    }
  }

  .customer__cs .customer__text h2 {font-size: 24px;}


  // 푸터

  .footer__bottom {align-items: end;}
  .footer__bottom .footer__slogan {font-size: 24px;}
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {


  .company__overview .inner {
    display: block;
  }

  .company__overview {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .company__overview .inner .overview__left ,  .company__overview .inner .overview__right {
    width: 100%;
  } 

  
  .company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {font-size: 18px;}
  .company__overview .overview__desc {font-size: 15px;}

  .company__overview .inner .overview__right {
    margin-top: 40px;
  }

  .company__overview .overview__left {padding: 0;}
  .company__overview .overview__title {font-size : 24px; margin-bottom: 20px;}
  .company__overview .company__record {justify-content: space-around;}

  .company__introduce , .product__info {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  // 메인 텍스트 영역
  .main__hero .main__text .company__slogan {
    font-size: 7.7vw;
    white-space: normal;
  }

  .main__hero .main__text .company__desc {
    font-size: 18px;
  }

  .main__hero .main__text .company__promise p {
    font-size: 13px;
  } 

  // gnb 변경
  .gnb { display: none;}
  .header .header__wrap {padding-right:20px; justify-content: end; }
  .header .mobile--opener {display: inline-block; }


  // 회사 소개 모바일 영역
  .company__overview, .company__introduce, .product__info, .footer .inner .sub__content .inner {
    width: calc(100% - 40px);
  }
  .header .logo {left: 20px;}

  .company__introduce .company__info {
    display: block;
  }

  .company__introduce .company__info .con__box .content .content__desc p {font-size: 12px;}

  #wrap .company__introduce .company__info .con__box {width: 100%; margin-bottom: 20px;}

  .company__introduce .company__info {margin-top: 32px;}

  .company__introduce .company__info .con__box {height: 220px;}

  .company__introduce .company__info .con__box .read__more {right: 28px; top: 28px; left: inherit;}


  // 제품 소개 모바일

  .product__info .product_sec__desc {font-size: 16px;}

  .product__wrap .swiper-slide img {width: 65%;}

  .product__wrap .swiper-slide {border: none;}

  .product__wrap .btn__group {top: -140px;}


  // 제품 cs 
  // .customer__cs .customer__text h2 {font-size: 5vw;}

  .customer__cs .customer__text {display: block;}
  .customer__cs .customer__text > div {
    display: flex; margin-bottom: 40px;
    
    .apply__btn, .apply__tel{display: none;}
  }
  .customer__cs .customer__text .form {
    width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;
    .form__left, .form__right {
      display: block;
      width: calc(50% - 12px);
    }
    .cs__bottom {
      display: block;
      width: 100%;

      .personal {
        margin-bottom: 12px;
        text-align: right;

      }

      .form__submit {
        text-align: right;
      }
    }
  }

  .customer__cs .customer__text h2 {font-size: 24px;}

  
  // .customer__cs .customer__text {display: block;}
  // .customer__cs .customer__text .form {
  //   width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;
  //   .form__left, .form__right {
  //     display: block;
  //     width: calc(50% - 12px);
  //   }
  //   .cs__bottom {
  //     display: block;
  //     width: 100%;

  //     .personal {
  //       margin-bottom: 12px;
  //     }
  // }


  // footer 영역 
  .footer__bottom {align-items: end;}
  .footer__bottom .footer__slogan {font-size: 24px;}
}

@media all and (max-width: 480px) {
  .footer__bottom .footer__slogan {font-size: 4.4vw;}
}






// mobile sub 

/* PC 소형 to 노트북 (해상도 1024px ~ 1440px)*/ 
@media all and (min-width:1024px) and (max-width: 1440px) {
 .sub__wrap .sub__content .sub__inner-1 {width: calc(100% - 120px);}
}

@media all and (min-width:768px) and (max-width: 1023px){
 .sub__wrap .sub__content .sub__inner-1 {width: calc(100% - 120px);}
 .sub__wrap .sub__content .ceo__message {padding-right: 240px;}
}

@media all and (max-width:767px) {
 .sub__wrap .sub__content .sub__inner-1 {width: calc(100% - 40px);}
 .sub__wrap .sub__content .ceo__message {padding-right: 20px; font-size: 14px;}



//  1-4
.sub__wrap .business__section .depth__wrap .depth__body {padding: 8px;}
.business__section .depth__wrap .depth__body p {font-size: 14px;}
}