.mobile__content {
  padding: 40px 40px 0 40px;

  .mo__slogan {
    font-size: 28px;
    color: #fff;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .mo__menu {
    margin-top: 40px;

    .mo__item {
      text-align: center;
      a {
        display: block;
        color: #fff;
        padding: 20px 0;
        padding-right: 8px;
        position: relative;

        .arrow-- {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: url(../img/arrow__down.svg) no-repeat center;
        }
      }
    }
  }
}

.mobile__gnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: #2F2F2F;
  z-index: 30;
  display: none;


  .mo__sub {
    display: none;
    background-color: #6B6B6B;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    
    li {
      a {
        color: #000;
      }
    }
  }

  .mo__item > a {
    &:hover {
      color: #0051A2;
    }

  
  }
}