.product__wrap {
  .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
    --swiper-theme-color: rgb(255, 255, 255);
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;

    .product__sub {
      margin-top: 12px;

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
  }

  .swiper-slide img {
    display: block;
    min-height: 200px;
    max-height: 260px;
    width: 80%;
    object-fit: contain;
    margin: 0px auto;
  }

  .btn__group {
    display: flex;
    position: absolute;
    right: 10px;
    top: -100px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #0051a2;
    position: static;
    border-radius: 50%;
    // height: 24px;

    &::after {
      font-size: 100%;
    }
  }

  .swiper-button-prev {
    margin-right: 12px;
  }

  .swiper-button-next {
  }
}

.product__section {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    background: #000;
    color: #000;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .productSwiper2 {
    height: 80%;
    width: 80%;
  }

  .productSwiper {
    height: 20%;
    width: 80%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 40px;
  }

  .productSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    max-height: 480px;
  }

  .productSwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
