@charset "UTF-8";
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header .header__wrap {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 40px 0;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  transition: all 0.3s;
}
.header .logo {
  position: absolute;
  left: 48px;
  display: inline-block;
}
.header .gnb__menu {
  display: flex;
  position: relative;
}
.header .gnb__menu li:not(:last-child) {
  margin-right: 80px;
}
.header .gnb__menu li a {
  display: block;
  color: #fff;
  font-weight: bold;
}
.header .gnb__menu li .sub__menu {
  position: absolute;
  top: 80px;
  opacity: 0;
  display: none;
}
.header .gnb__menu li .sub__menu li a {
  display: block;
  white-space: nowrap;
  margin-bottom: 24px;
  color: #000;
}
.header .gnb__menu li .sub__menu li a:hover {
  color: #0051A2;
}

.main__hero {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: url(../img/main__image-0.jpg) no-repeat center;
  background-size: 100% 100%;
  transition: background-image 1s ease-in-out;
}
.main__hero .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 3;
}
.main__hero .main__text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main__hero .main__text h2, .main__hero .main__text p {
  color: #fff;
}
.main__hero .main__text .company__slogan {
  font-weight: 900;
  font-weight: 900;
  font-size: 60px;
  white-space: nowrap;
  font-family: "Inter";
}
.main__hero .main__text .company__desc {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  white-space: nowrap;
}
.main__hero .main__text .company__promise {
  margin-top: 32px;
}
.main__hero .main__text .company__promise p {
  font-size: 18px;
  white-space: nowrap;
}
.main__hero .main__text .company__promise p:nth-child(1) {
  margin-bottom: 8px;
}

.mobile--opener {
  display: none;
  width: 40px;
  height: 40px;
  background: url(../img/hamburger__menu.svg) no-repeat center;
  margin-right: 20px;
  position: relative;
  z-index: 33;
}

.company__overview {
  position: relative;
  height: 400px;
  width: calc(100% - 120px);
  margin: 0px auto;
  padding-top: 160px;
  padding-bottom: 160px;
  z-index: 4;
}
.company__overview .inner {
  display: flex;
  justify-content: space-between;
}
.company__overview .company__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: url(../img/company__overview.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  background-color: lightgray;
}
.company__overview .company__bg .black--bg {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
.company__overview .overview__title {
  font-size: 42px;
  margin-bottom: 60px;
  color: #fff;
}
.company__overview .overview__title .--strong {
  font-weight: 400;
}
.company__overview .overview__desc {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.company__overview .company__record {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  max-width: 600px;
}
.company__overview .company__record .index-1,
.company__overview .company__record .index-2,
.company__overview .company__record .index-3 {
  text-align: center;
}
.company__overview .company__record .index-1 span,
.company__overview .company__record .index-2 span,
.company__overview .company__record .index-3 span {
  color: #ed1c24;
}
.company__overview .company__record .index-1 h2,
.company__overview .company__record .index-2 h2,
.company__overview .company__record .index-3 h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #fff;
}
.company__overview .company__record .index-1 p,
.company__overview .company__record .index-2 p,
.company__overview .company__record .index-3 p {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.company__overview .overview__left {
  width: 50%;
  padding: 0 60px;
}
.company__overview .overview__right {
  width: 50%;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 40px;
}
.company__overview .overview__right .content {
  display: flex;
  flex-direction: column;
}
.company__overview .overview__right .content .active {
  opacity: 1;
}
.company__overview .overview__right .content a {
  color: #fff;
  width: 100%;
  padding: 40px 0 40px 0px;
  border-bottom: 1px solid #fff;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  transition: all 0.5s;
}
.company__overview .overview__right .content a span {
  font-size: 20px;
  font-weight: 400;
}

.company__introduce {
  position: relative;
  margin: 0px auto;
  margin-top: 120px;
}
.company__introduce .section__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company__introduce .section__title {
  color: #fff;
  font-size: 28px;
}
.company__introduce .product_sec__desc {
  color: #fff;
}
.company__introduce .company__info {
  padding: 0 40px;
}
.company__introduce .company__info a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  padding: 40px 0;
  border-top: 1px solid #fff;
  font-size: 28px;
  border-bottom: 1px solid #fff;
}
.company__introduce .company__info a span {
  font-size: 16px;
}
.company__introduce .company__info .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 5;
}
.company__introduce .company__info .content {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.company__introduce .company__info .content .read__more {
  z-index: 6;
}
.company__introduce .company__info .content h2 {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  position: relative;
  z-index: 6;
}
.company__introduce .company__info .content .content__desc {
  margin-top: 48px;
  position: relative;
  z-index: 6;
}
.company__introduce .company__info .content .content__desc p {
  font-size: 20px;
  margin-bottom: 12px;
  color: #fff;
  padding-right: 20px;
}
.company__introduce .company__info .read__more {
  position: absolute;
  right: 28px;
  bottom: 46px;
  color: #fff;
  font-weight: 700;
}
.company__introduce .company__info .read__more:hover {
  color: #0051a2;
}
.company__introduce .con__box:nth-child(1) {
  width: 33.333%;
  background: url(../img/company__info-bg-1.jpg) no-repeat center;
  background-size: cover;
}
.company__introduce .con__box:nth-child(2),
.company__introduce .con__box:nth-child(3) {
  width: 33.333%;
}
.company__introduce .con__box:nth-child(2) {
  background: url(../img/company__info-bg-2.jpg) no-repeat center;
  background-size: cover;
}
.company__introduce .con__box:nth-child(3) {
  background: url(../img/company__info-bg-3.jpg) no-repeat center;
  background-size: cover;
}
.company__introduce .read__more {
  margin-top: auto;
}

.product__info .section__title {
  color: #fff;
}

.product__info {
  width: calc(100% - 120px);
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 140px;
  position: relative;
}
.product__info .inner {
  position: relative;
  z-index: 22;
}
.product__info .product__info__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 100%;
  background: url(../img/product__info__bg.jpg) no-repeat center;
  background-size: cover;
  z-index: 11;
}
.product__info .product__info__bg .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 12;
}
.product__info .product_sec__desc {
  font-size: 30px;
  color: #cccccc;
  font-weight: bold;
}
.product__info .product__wrap {
  margin-top: 100px;
  height: 275px;
}

.customer__cs {
  width: 100%;
  height: 600px;
  background: url(../img/cs__img.jpg) no-repeat center;
  padding: 40px 0;
  background-size: cover;
  z-index: 3;
}
.customer__cs .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 67;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.customer__cs .customer__text {
  text-align: left;
  position: relative;
  z-index: 69;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 120px);
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__cs .customer__text h2 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}
.customer__cs .customer__text .apply__btn {
  text-align: center;
  margin-top: 28px;
  display: inline-block;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  background-color: #0051a2;
  border-radius: 30px;
}
.customer__cs .customer__text .apply__tel {
  background: transparent;
  border: 0;
  text-decoration: underline;
  margin: 0px auto;
  padding-top: 20px;
  color: #fff;
}

.form {
  width: 640px;
}
.form .cs__form {
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.form .cs__form label {
  color: #fff;
  display: bock;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 12px;
  white-space: nowrap;
}
.form .cs__form input {
  padding: 8px 0;
  background: transparent;
  border: 0;
  width: 100%;
}
.form .cs__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form .cs__bottom .personal span {
  color: #fff;
}
.form .cs__bottom .form--complete {
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}
.form .cs__bottom .form--complete:hover {
  background-color: #0051a2;
}

.product__wrap .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
  --swiper-theme-color: rgb(255, 255, 255);
}
.product__wrap .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
.product__wrap .swiper-slide .product__sub {
  margin-top: 12px;
}
.product__wrap .swiper-slide .product__sub h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #fff;
}
.product__wrap .swiper-slide .product__sub p {
  color: #fff;
}
.product__wrap .swiper-slide img {
  display: block;
  min-height: 200px;
  max-height: 260px;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px auto;
}
.product__wrap .btn__group {
  display: flex;
  position: absolute;
  right: 10px;
  top: -100px;
}
.product__wrap .swiper-button-prev,
.product__wrap .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #ed1c24;
  position: static;
  border-radius: 50%;
}
.product__wrap .swiper-button-prev::after,
.product__wrap .swiper-button-next::after {
  font-size: 100%;
}
.product__wrap .swiper-button-prev {
  margin-right: 12px;
}
.product__section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.product__section .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__section body {
  background: #000;
  color: #000;
}
.product__section .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.product__section .productSwiper2 {
  height: 80%;
  width: 80%;
}
.product__section .productSwiper {
  height: 20%;
  width: 80%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 40px;
}
.product__section .productSwiper .swiper-slide {
  width: 25%;
  height: 100%;
  max-height: 480px;
}
.product__section .productSwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.product__section .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 28px 0;
  z-index: 999;
}
.footer .inner {
  width: calc(100% - 120px);
  margin: 0px auto;
  position: relative;
}
.footer .inner .footer__desc .name {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}
.footer .inner .footer__desc p {
  font-size: 15px;
  color: #fff;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__bottom .footer__logo {
  margin-top: 40px;
}
.footer__bottom .footer__slogan {
  font-size: 48px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.footer__menu {
  margin-top: 20px;
}
.footer__menu a {
  padding-right: 12px;
}

.footer__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer__wrap h2, .footer__wrap p {
  margin-right: 20px;
}
.footer__wrap .name {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

/* PC 소형 to 노트북 (해상도 1024px ~ 1440px)*/
@media all and (min-width: 1024px) and (max-width: 1440px) {
  .company__introduce .company__info .con__box .content .content__desc p {
    font-size: 16px;
  }
  .company__overview .overview__title {
    font-size: 36px;
  }
  .company__overview .overview__desc {
    font-size: 16px;
  }
  .customer__text .form {
    width: 400px;
  }
  .customer__cs .customer__text h2 {
    font-size: 28px;
  }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .header .gnb__menu li a {
    font-size: 14px;
  }
  .company__overview {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .company__overview .overview__title {
    font-size: 32px;
  }
  .company__overview .overview__desc {
    font-size: 12px;
  }
  .company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {
    font-size: 20px;
  }
  .company__overview .overview__left {
    padding: 0;
  }
  .company__overview .overview__title {
    font-size: 24px;
  }
  .main__hero .main__text .company__slogan {
    font-size: 5.5vw;
    white-space: normal;
  }
  .main__hero .main__text .company__desc {
    font-size: 20px;
  }
  .company__introduce .company__info .con__box .content .content__desc p {
    font-size: 16px;
  }
  .product__wrap .swiper-slide .product__sub {
    font-size: 13px;
  }
  .product__wrap .swiper-slide .product__sub h2 {
    font-size: 18px;
  }
  .product__info .product_sec__desc {
    font-size: 20px;
  }
  .product__wrap .btn__group {
    top: -140px;
  }
  .customer__cs .customer__text {
    display: block;
  }
  .customer__cs .customer__text > div {
    display: flex;
    margin-bottom: 40px;
  }
  .customer__cs .customer__text > div .apply__btn, .customer__cs .customer__text > div .apply__tel {
    display: none;
  }
  .customer__cs .customer__text .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .customer__cs .customer__text .form .form__left, .customer__cs .customer__text .form .form__right {
    display: block;
    width: calc(50% - 12px);
  }
  .customer__cs .customer__text .form .cs__bottom {
    display: block;
    width: 100%;
  }
  .customer__cs .customer__text .form .cs__bottom .personal {
    margin-bottom: 12px;
    text-align: right;
  }
  .customer__cs .customer__text .form .cs__bottom .form__submit {
    text-align: right;
  }
  .customer__cs .customer__text h2 {
    font-size: 24px;
  }
  .footer__bottom {
    align-items: end;
  }
  .footer__bottom .footer__slogan {
    font-size: 24px;
  }
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .customer__cs {
    height: 780px;
  }
  .company__overview .inner {
    display: block;
  }
  .company__overview {
    padding-top: 80px;
    padding-bottom: 120px;
    height: 600px;
  }
  .company__overview .inner .overview__left, .company__overview .inner .overview__right {
    width: 100%;
  }
  .company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {
    font-size: 18px;
  }
  .company__overview .overview__desc {
    font-size: 15px;
  }
  #wrap .company__overview .overview__right a {
    font-size: 20px;
  }
  .company__overview .overview__left {
    padding: 0;
  }
  .company__overview .overview__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .company__overview .company__record {
    justify-content: space-around;
  }
  .company__introduce, .product__info {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .main__hero .main__text .company__slogan {
    font-size: 7.7vw;
    white-space: normal;
  }
  .main__hero .main__text .company__desc {
    font-size: 18px;
  }
  .main__hero .main__text .company__promise p {
    font-size: 13px;
  }
  .gnb {
    display: none;
  }
  .header .header__wrap {
    padding-right: 20px;
    justify-content: end;
  }
  .header .mobile--opener {
    display: inline-block;
  }
  .company__overview, .company__introduce, .product__info, .footer .inner .sub__content .inner {
    width: calc(100% - 40px);
  }
  .header .logo {
    left: 20px;
  }
  .company__introduce .company__info {
    display: block;
  }
  .company__introduce .company__info .con__box .content .content__desc p {
    font-size: 12px;
  }
  #wrap .company__introduce .company__info .con__box {
    width: 100%;
    margin-bottom: 20px;
  }
  .company__introduce .company__info {
    margin-top: 32px;
  }
  .company__introduce .company__info .con__box {
    height: 220px;
  }
  .company__introduce .company__info .con__box .read__more {
    right: 28px;
    top: 28px;
    left: inherit;
  }
  .product__info .product_sec__desc {
    font-size: 16px;
  }
  .product__wrap .swiper-slide img {
    width: 65%;
  }
  .product__wrap .swiper-slide {
    border: none;
  }
  .product__wrap .btn__group {
    top: -140px;
  }
  .customer__cs .customer__text {
    display: block;
  }
  .customer__cs .customer__text > div {
    display: flex;
    margin-bottom: 40px;
  }
  .customer__cs .customer__text > div .apply__btn, .customer__cs .customer__text > div .apply__tel {
    display: none;
  }
  .customer__cs .customer__text .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .customer__cs .customer__text .form .form__left, .customer__cs .customer__text .form .form__right {
    display: block;
    width: calc(50% - 12px);
  }
  .customer__cs .customer__text .form .cs__bottom {
    display: block;
    width: 100%;
  }
  .customer__cs .customer__text .form .cs__bottom .personal {
    margin-bottom: 12px;
    text-align: right;
  }
  .customer__cs .customer__text .form .cs__bottom .form__submit {
    text-align: right;
  }
  .customer__cs .customer__text h2 {
    font-size: 24px;
  }
  .footer__bottom {
    align-items: end;
  }
  .footer__bottom .footer__slogan {
    font-size: 24px;
  }
  .footer__desc p {
    margin-bottom: 8px;
  }
}
@media all and (max-width: 480px) {
  .footer__bottom .footer__slogan {
    font-size: 4.4vw;
  }
}
/* PC 소형 to 노트북 (해상도 1024px ~ 1440px)*/
@media all and (min-width: 1024px) and (max-width: 1440px) {
  .sub__wrap .sub__content .file__wrapper .sub__inner-1, .file__room .sub__content .sub__inner-1 {
    width: calc(100% - 120px);
  }
  .sub__wrap .sub__content .document__certification .sub__inner-1 {
    width: calc(100% - 120px);
  }
}
.certification__board .sub__content .sub__inner-1 {
  width: calc(100% - 120px);
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .sub__wrap .sub__content .document__certification .sub__inner-1 {
    width: calc(100% - 120px);
  }
  .sub__wrap .sub__content .file__wrapper .sub__inner-1 {
    width: calc(100% - 120px);
  }
  .file__library__section .content .info span {
    font-size: 13px;
  }
  .sub__wrap .sub__content .ceo__message {
    padding-right: 240px;
  }
  .file__room .sub__content .sub__inner-1 {
    width: calc(100% - 120px);
  }
}
@media all and (max-width: 767px) {
  .sub__wrap .sub__content .document__certification .sub__inner-1 {
    width: calc(100% - 40px);
  }
  .file__room .sub__content .sub__inner-1 {
    width: calc(100% - 40px);
  }
  .file__section .section__desc {
    font-size: 15px;
  }
  .sub__wrap .sub__content .file__wrapper .sub__inner-1 {
    width: calc(100% - 120px);
  }
  .file__library__section .content .info span {
    font-size: 12px;
  }
  .sub__wrap .sub__content .ceo__message {
    padding-right: 20px;
    font-size: 14px;
  }
  .sub__wrap .business__section .depth__wrap .depth__body {
    padding: 8px;
  }
  .business__section .depth__wrap .depth__body p {
    font-size: 14px;
  }
}
.mobile__content {
  padding: 40px 40px 0 40px;
}
.mobile__content .mo__slogan {
  font-size: 28px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.mobile__content .mo__menu {
  margin-top: 40px;
}
.mobile__content .mo__menu .mo__item {
  text-align: center;
}
.mobile__content .mo__menu .mo__item a {
  display: block;
  color: #fff;
  padding: 20px 0;
  padding-right: 8px;
  position: relative;
}
.mobile__content .mo__menu .mo__item a .arrow-- {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/arrow__down.svg) no-repeat center;
}

.mobile__gnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: #2F2F2F;
  z-index: 30;
  display: none;
}
.mobile__gnb .mo__sub {
  display: none;
  background-color: #6B6B6B;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.mobile__gnb .mo__sub li a {
  color: #000;
}
.mobile__gnb .mo__item > a:hover {
  color: #0051A2;
}

#sub__wrap {
  height: 100vh;
}

#sub__wrap .header {
  position: relative;
}

.sub__wrap {
  height: 200vh;
}

.sub__section {
  height: 100vh;
}

.sub__hero {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
}
.sub__hero .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 3;
}
.sub__hero .main__text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sub__hero .main__text h2, .sub__hero .main__text p {
  color: #fff;
}
.sub__hero .main__text .sub__slogan {
  font-weight: 500;
  font-size: 28px;
}
.sub__hero .main__text .sub__desc {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
}

.sub__1 {
  background: url(/img/sub__main-1.jpg) no-repeat center;
  background-size: cover;
}

.sub__1-2 {
  background: url(/img/location_sub-1.jpg) no-repeat center;
  background-size: cover;
}

.sub__1-3 {
  background: url(/img/sub__certificate.jpg) no-repeat center;
  background-size: cover;
}

.sub__1-4 {
  background: url(/img/sub__businessgroup.jpg) no-repeat center;
  background-size: cover;
}

.sub__2-1 {
  background: url(/img/company__info-bg-3.jpg) no-repeat center;
  background-size: cover;
}

.sub__3-1, .sub__3-3 {
  background: url(../img/sub__file.jpg) no-repeat center;
  background-size: cover;
}

.sub__4-1 {
  background: url(../img/cs__img.png) no-repeat center;
  background-size: cover;
}

.sub__content {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  margin: auto auto;
  margin-top: 100vh;
}
.sub__content .sub__inner-1 {
  width: 1280px;
  padding-top: 160px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sub__content .banner__title {
  margin-bottom: 48px;
  text-align: left;
}
.sub__content .banner__title .depth__desc {
  margin-top: 12px;
  color: gray;
  position: absolute;
  top: 20px;
  right: 20px;
}
.sub__content .banner__title h2 {
  font-weight: 900;
  font-family: "Inter";
  font-size: 40px;
  position: relative;
}
.sub__content .banner__title h2::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 80px;
  background: url(../img/ceo__quote.svg) no-repeat center;
  position: absolute;
  bottom: 60px;
  left: 0;
}
.sub__content .remove__bg {
  position: absolute;
  bottom: -48px;
  right: 0;
  width: 400px;
  z-index: -1;
  opacity: 0.5;
}
.sub__content .ceo__section {
  position: relative;
}
.sub__content .ceo__message {
  padding-right: 450px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 60px;
  font-weight: 600;
  opacity: 0.9;
}
.sub__content .map {
  display: block;
  position: relative;
  height: 480px;
  max-height: 640px;
}
.sub__content .map img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__us {
  margin-bottom: 40px;
}

.map__desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.map__desc button {
  padding: 12px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.map__desc button:hover {
  color: #fff;
  background-color: #0051A2;
  border: 0;
}
.map__desc h2 {
  font-size: 32px;
  font-weight: 700;
}
.map__desc .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__desc p {
  font-size: 18px;
  margin-bottom: 12px;
}
.map__desc p span {
  font-weight: bold;
  color: gray;
  font-size: 20px;
}

.business__section .ceo {
  text-align: center;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  background-color: #0051A2;
  color: #fff;
  font-size: 32px;
  display: block;
  margin: 0px auto;
  font-weight: bold;
}
.business__section .depth__wrap {
  width: 26%;
  margin-top: 40px;
  border-radius: 8px;
  overflow: hidden;
}
.business__section .depth__wrap .depth__header {
  text-align: center;
  padding: 8px 0;
  background-color: #0051A2;
  color: #fff;
  font-weight: bold;
}
.business__section .depth__wrap .depth__body {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 8px;
}
.business__section .depth__wrap .depth__body p {
  margin-bottom: 8px;
}

.depth__1 {
  display: flex;
  justify-content: center;
  position: relative;
}
.depth__1 .depth__wrap {
  width: 26%;
}
.depth__1 .depth__global {
  width: 20%;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
.depth__1 .depth__global .depth__header {
  background-color: gray;
}

.depth__2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.depth__3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.depth__3 .depth__wrap {
  width: calc(25% - 20px);
}

.certification__total {
  margin-top: 40px;
}

.certification__section h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}
.certification__section .certification__total .certification__4 {
  justify-content: flex-start;
}
.certification__section .certification__total .certification__4 .content {
  margin-right: 20px;
}
.certification__section .certification__wrap .content:hover .white__bg {
  opacity: 0.7;
}
.certification__section .certification__wrap .content:hover .certification__w {
  opacity: 1;
}
.certification__section .certification__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.certification__section .certification__wrap .content {
  width: calc(25% - 20px);
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.certification__section .certification__wrap .content .white__bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  transition: all 0.5s;
}
.certification__section .certification__wrap .content a {
  display: block;
  width: 100%;
  height: 100%;
}
.certification__section .certification__wrap .content a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
.certification__section .certification__wrap .content .certification__w {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 7;
  opacity: 0;
  transition: all 0.5s;
}
.certification__section .certification__wrap .content .certification__w .certification__date {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  margin-bottom: 8px;
}
.certification__section .certification__wrap .content .certification__w .certification__name {
  padding: 4px 0;
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.sub__content .product__title {
  margin-bottom: 32px;
}

.product__wrapper .product__content .sub__content .banner__title h2::before {
  display: none;
}

.product__content .product__title {
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}
.product__content .product__desc {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.product__section {
  margin-top: 80px;
}

.file__section {
  margin-bottom: 80px;
}
.file__section .file__category {
  font-size: 16px;
  color: lightgray;
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.table thead th {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-width: 1px 0;
  padding: 12px 0;
}

.table tbody td:nth-child(2) {
  text-align: left;
}

.table td:first-child, .table th:first-child {
  width: 10%;
}

.table td:nth-child(3), .table th:nth-child(3) {
  width: 30%;
}

.table td:nth-child(5), .table th:nth-child(4) {
  width: 15%;
}

.table tbody tr td {
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

.table__hover tbody tr:hover {
  background-color: lightcyan;
}

.table tbody td a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.table__hover tbody td a:hover {
  text-decoration: underline;
}

.pagination {
  margin: 0px auto;
  text-align: center;
  padding-top: 40px;
}
.pagination a {
  padding: 0 8px;
  font-size: 18px;
  font-weight: bold;
}
.pagination a:hover {
  color: #0051A2;
}

.world__map__isolated {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.world__map__isolated img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub__wrap .sub__form__wrap {
  display: flex;
}
.sub__wrap .sub__form__wrap .cs__img {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(75%);
}
.sub__wrap .sub__form__wrap .cs__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sub__wrap .form {
  width: 100%;
}
.sub__wrap .form #desc__form {
  border-bottom: 0;
}
.sub__wrap .form #desc {
  min-height: 140px;
  width: 100%;
  border: 1px solid lightgray;
}
.sub__wrap .form .cs__form {
  border-bottom: 1px solid lightgray;
}
.sub__wrap .cs__bottom .personal span {
  color: #000;
}
.sub__wrap .cs__bottom .form--complete {
  background-color: #0051A2;
}

.certification__board .sub__content .sub__inner-1 {
  width: 1024px;
}

.certification__board .certification__section .certification__wrap {
  padding: 40px 0;
  justify-content: center;
}

.certification__board .certification__section .certification__wrap .content {
  width: 40%;
}

.certification__board .certification__section h2 {
  font-size: 20px;
  border: 0;
  padding: 0;
}

.certification__desc {
  padding-left: 60px;
  margin-bottom: 40px;
  align-items: center;
}

.certification__desc .sub {
  margin-top: 12px;
  font-size: 18px;
}

.certification__board .article {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.file__library__section .section__title {
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}
.file__library__section .section__title .sub__desc {
  margin-left: 8px;
}

.file__library__section .content .title {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 0;
}
.file__library__section .content .info span {
  margin-right: 12px;
}
.file__library__section .content .detail {
  min-height: 480px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.file__library__section .content .detail .text {
  padding: 20px;
  line-height: 1.2;
}
.file__library__section .content .detail .image {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 20px;
}
.file__library__section .content .detail .image img {
  width: 50%;
  margin-left: auto;
}
.file__library__section .content .file {
  font-size: 14px;
  color: gray;
}
.file__library__section .content .file p {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.file__library__section .content .file .file__icon {
  display: inline-block;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  background: url(/img/file__clip.svg) no-repeat center;
}

body {
  overflow-x: hidden;
}

.inner {
  width: 100%;
  margin: 0px auto;
}

.section__title {
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 12px;
}

.section__desc {
  font-size: 20px;
}

.more__btn {
  display: flex;
  align-items: center;
}
.more__btn span {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0051A2;
  margin-left: 8px;
}
.more__btn span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  transform: translate(-50%, -50%);
  background: url(../img/baseline__plus.svg) no-repeat center;
}

.active--animation {
  color: #0051A2;
}/*# sourceMappingURL=style.css.map */