@charset "UTF-8";
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header .header__wrap {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 40px 0;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  transition: all 0.3s;
}
.header .logo {
  position: absolute;
  left: 48px;
  display: inline-block;
}
.header .gnb__menu {
  display: flex;
  position: relative;
}
.header .gnb__menu li:not(:last-child) {
  margin-right: 80px;
}
.header .gnb__menu li a {
  display: block;
  color: #fff;
  font-weight: bold;
}
.header .gnb__menu li .sub__menu {
  position: absolute;
  top: 80px;
  opacity: 0;
  display: none;
}
.header .gnb__menu li .sub__menu li a {
  display: block;
  white-space: nowrap;
  margin-bottom: 24px;
  color: #000;
}
.header .gnb__menu li .sub__menu li a:hover {
  color: #0051A2;
}

.main__hero {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 840px;
  background: url(../img/main__image-0.jpg) no-repeat center;
  background-size: 100% 100%;
  transition: background-image 1s ease-in-out;
}
.main__hero .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 3;
}
.main__hero .main__text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main__hero .main__text h2, .main__hero .main__text p {
  color: #fff;
}
.main__hero .main__text .company__slogan {
  font-weight: 900;
  font-weight: 900;
  font-size: 60px;
  white-space: nowrap;
  font-family: "Inter";
}
.main__hero .main__text .company__desc {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  white-space: nowrap;
}
.main__hero .main__text .company__promise {
  margin-top: 32px;
}
.main__hero .main__text .company__promise p {
  font-size: 18px;
  white-space: nowrap;
}
.main__hero .main__text .company__promise p:nth-child(1) {
  margin-bottom: 8px;
}

.mobile--opener {
  display: none;
  width: 40px;
  height: 40px;
  background: url(../img/hamburger__menu.svg) no-repeat center;
  margin-right: 20px;
  position: relative;
  z-index: 33;
}

.company__overview {
  position: relative;
  width: calc(100% - 120px);
  margin: 0px auto;
  padding-top: 160px;
  padding-bottom: 160px;
}
.company__overview .inner {
  display: flex;
  justify-content: space-between;
}
.company__overview .overview__title {
  font-size: 42px;
  margin-bottom: 60px;
}
.company__overview .overview__title .--strong {
  color: #0051A2;
}
.company__overview .overview__desc {
  font-size: 18px;
  line-height: 1.5;
}
.company__overview .company__record {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  max-width: 600px;
}
.company__overview .company__record .index-1, .company__overview .company__record .index-2, .company__overview .company__record .index-3 {
  text-align: center;
}
.company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}
.company__overview .company__record .index-1 p, .company__overview .company__record .index-2 p, .company__overview .company__record .index-3 p {
  font-size: 15px;
  font-weight: 400;
}
.company__overview .overview__left {
  width: 50%;
  padding: 0 60px;
}
.company__overview .overview__right {
  background-color: gray;
  width: 40%;
  border-radius: 8px;
  overflow: hidden;
}
.company__overview .overview__right video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.company__introduce {
  position: relative;
  width: calc(100% - 120px);
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 140px;
}
.company__introduce .section__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company__introduce .company__info {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.company__introduce .company__info .con__box {
  height: 356px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  position: relative;
  z-index: 4;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
.company__introduce .company__info .con__box .con__box:hover .content {
  opacity: 0.5;
}
.company__introduce .company__info .con__box .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 5;
}
.company__introduce .company__info .con__box .content {
  padding-left: 40px;
}
.company__introduce .company__info .con__box .content .read__more {
  z-index: 6;
}
.company__introduce .company__info .con__box .content h2 {
  padding-top: 40px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  position: relative;
  z-index: 6;
}
.company__introduce .company__info .con__box .content .content__desc {
  margin-top: 48px;
  position: relative;
  z-index: 6;
}
.company__introduce .company__info .con__box .content .content__desc p {
  font-size: 20px;
  margin-bottom: 12px;
  color: #fff;
  padding-right: 20px;
}
.company__introduce .company__info .con__box .read__more {
  position: absolute;
  right: 28px;
  bottom: 46px;
  color: #fff;
  font-weight: 700;
}
.company__introduce .company__info .con__box .read__more:hover {
  color: #0051A2;
}
.company__introduce .company__info .con__box:nth-child(1) {
  width: 33.333%;
  background: url(../img/company__info-bg-1.jpg) no-repeat center;
  background-size: cover;
}
.company__introduce .company__info .con__box:nth-child(2), .company__introduce .company__info .con__box:nth-child(3) {
  width: 33.333%;
}
.company__introduce .company__info .con__box:nth-child(2) {
  background: url(../img/company__info-bg-2.jpg) no-repeat center;
  background-size: cover;
}
.company__introduce .company__info .con__box:nth-child(3) {
  background: url(../img/company__info-bg-3.jpg) no-repeat center;
  background-size: cover;
}
.company__introduce .company__info .read__more {
  margin-top: auto;
}

.product__info {
  width: calc(100% - 120px);
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 140px;
}
.product__info .product_sec__desc {
  font-size: 30px;
  color: #cccccc;
  font-weight: bold;
}
.product__info .product__wrap {
  margin-top: 100px;
  height: 275px;
}

.customer__cs {
  width: 100%;
  height: 600px;
  background: url(../img/cs__img.png) no-repeat center;
  position: relative;
  background-size: cover;
  z-index: 66;
}
.customer__cs .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 67;
}
.customer__cs .customer__text {
  text-align: left;
  position: relative;
  z-index: 68;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 120px);
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__cs .customer__text h2 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}
.customer__cs .customer__text .apply__btn {
  text-align: center;
  margin-top: 28px;
  display: inline-block;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  background-color: #0051A2;
  border-radius: 30px;
}
.customer__cs .customer__text .apply__tel {
  background: transparent;
  border: 0;
  text-decoration: underline;
  margin: 0px auto;
  padding-top: 20px;
  color: #fff;
}

.form {
  width: 640px;
}
.form .cs__form {
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.form .cs__form label {
  color: #fff;
  display: bock;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 12px;
  white-space: nowrap;
}
.form .cs__form input {
  padding: 8px 0;
  background: transparent;
  border: 0;
  width: 100%;
}
.form .cs__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form .cs__bottom .personal span {
  color: #fff;
}
.form .cs__bottom .form--complete {
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}
.form .cs__bottom .form--complete:hover {
  background-color: #0051A2;
}

.product__wrap .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
  --swiper-theme-color: rgb(255, 255, 255);
}
.product__wrap .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
.product__wrap .swiper-slide .product__sub {
  margin-top: 12px;
}
.product__wrap .swiper-slide .product__sub h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.product__wrap .swiper-slide img {
  display: block;
  min-height: 200px;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px auto;
}
.product__wrap .btn__group {
  display: flex;
  position: absolute;
  right: 10px;
  top: -100px;
}
.product__wrap .swiper-button-prev, .product__wrap .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #0051A2;
  position: static;
  border-radius: 50%;
}
.product__wrap .swiper-button-prev::after, .product__wrap .swiper-button-next::after {
  font-size: 100%;
}
.product__wrap .swiper-button-prev {
  margin-right: 12px;
}
.footer {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f2f2f;
  min-height: 245px;
}
.footer .inner {
  width: calc(100% - 120px);
  margin: 0px auto;
  position: relative;
}
.footer .inner .footer__desc {
  padding-top: 48px;
}
.footer .inner .footer__desc .name {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.footer .inner .footer__desc p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 8px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__bottom .footer__logo {
  margin-top: 40px;
}
.footer__bottom .footer__slogan {
  font-size: 48px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* PC 소형 to 노트북 (해상도 1024px ~ 1440px)*/
@media all and (min-width: 1024px) and (max-width: 1440px) {
  .company__introduce .company__info .con__box .content .content__desc p {
    font-size: 16px;
  }
  .company__overview .overview__title {
    font-size: 36px;
  }
  .company__overview .overview__desc {
    font-size: 16px;
  }
  .customer__text .form {
    width: 400px;
  }
  .customer__cs .customer__text h2 {
    font-size: 28px;
  }
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .header .gnb__menu li a {
    font-size: 14px;
  }
  .company__overview {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .company__overview .overview__title {
    font-size: 32px;
  }
  .company__overview .overview__desc {
    font-size: 12px;
  }
  .company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {
    font-size: 20px;
  }
  .company__overview .overview__left {
    padding: 0;
  }
  .company__overview .overview__title {
    font-size: 24px;
  }
  .main__hero .main__text .company__slogan {
    font-size: 5.5vw;
    white-space: normal;
  }
  .main__hero .main__text .company__desc {
    font-size: 20px;
  }
  .company__introduce .company__info .con__box .content .content__desc p {
    font-size: 16px;
  }
  .product__wrap .swiper-slide .product__sub {
    font-size: 13px;
  }
  .product__wrap .swiper-slide .product__sub h2 {
    font-size: 18px;
  }
  .product__info .product_sec__desc {
    font-size: 20px;
  }
  .product__wrap .btn__group {
    top: -140px;
  }
  .customer__cs .customer__text {
    display: block;
  }
  .customer__cs .customer__text > div {
    display: flex;
    margin-bottom: 40px;
  }
  .customer__cs .customer__text > div .apply__btn, .customer__cs .customer__text > div .apply__tel {
    display: none;
  }
  .customer__cs .customer__text .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .customer__cs .customer__text .form .form__left, .customer__cs .customer__text .form .form__right {
    display: block;
    width: calc(50% - 12px);
  }
  .customer__cs .customer__text .form .cs__bottom {
    display: block;
    width: 100%;
  }
  .customer__cs .customer__text .form .cs__bottom .personal {
    margin-bottom: 12px;
    text-align: right;
  }
  .customer__cs .customer__text .form .cs__bottom .form__submit {
    text-align: right;
  }
  .customer__cs .customer__text h2 {
    font-size: 24px;
  }
  .footer__bottom {
    align-items: end;
  }
  .footer__bottom .footer__slogan {
    font-size: 24px;
  }
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .company__overview .inner {
    display: block;
  }
  .company__overview {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .company__overview .inner .overview__left, .company__overview .inner .overview__right {
    width: 100%;
  }
  .company__overview .company__record .index-1 h2, .company__overview .company__record .index-2 h2, .company__overview .company__record .index-3 h2 {
    font-size: 18px;
  }
  .company__overview .overview__desc {
    font-size: 15px;
  }
  .company__overview .inner .overview__right {
    margin-top: 40px;
  }
  .company__overview .overview__left {
    padding: 0;
  }
  .company__overview .overview__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .company__overview .company__record {
    justify-content: space-around;
  }
  .company__introduce, .product__info {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .main__hero .main__text .company__slogan {
    font-size: 7.7vw;
    white-space: normal;
  }
  .main__hero .main__text .company__desc {
    font-size: 18px;
  }
  .main__hero .main__text .company__promise p {
    font-size: 13px;
  }
  .gnb {
    display: none;
  }
  .header .header__wrap {
    padding-right: 20px;
    justify-content: end;
  }
  .header .mobile--opener {
    display: inline-block;
  }
  .company__overview, .company__introduce, .product__info, .footer .inner .sub__content .inner {
    width: calc(100% - 40px);
  }
  .header .logo {
    left: 20px;
  }
  .company__introduce .company__info {
    display: block;
  }
  .company__introduce .company__info .con__box .content .content__desc p {
    font-size: 12px;
  }
  #wrap .company__introduce .company__info .con__box {
    width: 100%;
    margin-bottom: 20px;
  }
  .company__introduce .company__info {
    margin-top: 32px;
  }
  .company__introduce .company__info .con__box {
    height: 220px;
  }
  .company__introduce .company__info .con__box .read__more {
    right: 28px;
    top: 28px;
    left: inherit;
  }
  .product__info .product_sec__desc {
    font-size: 16px;
  }
  .product__wrap .swiper-slide img {
    width: 65%;
  }
  .product__wrap .swiper-slide {
    border: none;
  }
  .product__wrap .btn__group {
    top: -140px;
  }
  .customer__cs .customer__text {
    display: block;
  }
  .customer__cs .customer__text > div {
    display: flex;
    margin-bottom: 40px;
  }
  .customer__cs .customer__text > div .apply__btn, .customer__cs .customer__text > div .apply__tel {
    display: none;
  }
  .customer__cs .customer__text .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .customer__cs .customer__text .form .form__left, .customer__cs .customer__text .form .form__right {
    display: block;
    width: calc(50% - 12px);
  }
  .customer__cs .customer__text .form .cs__bottom {
    display: block;
    width: 100%;
  }
  .customer__cs .customer__text .form .cs__bottom .personal {
    margin-bottom: 12px;
    text-align: right;
  }
  .customer__cs .customer__text .form .cs__bottom .form__submit {
    text-align: right;
  }
  .customer__cs .customer__text h2 {
    font-size: 24px;
  }
  .footer__bottom {
    align-items: end;
  }
  .footer__bottom .footer__slogan {
    font-size: 24px;
  }
}
@media all and (max-width: 480px) {
  .footer__bottom .footer__slogan {
    font-size: 4.4vw;
  }
}
.mobile__content {
  padding: 40px 40px 0 40px;
}
.mobile__content .mo__slogan {
  font-size: 28px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.mobile__content .mo__menu {
  margin-top: 40px;
}
.mobile__content .mo__menu .mo__item {
  text-align: center;
}
.mobile__content .mo__menu .mo__item a {
  display: block;
  color: #fff;
  padding: 20px 0;
  padding-right: 8px;
  position: relative;
}
.mobile__content .mo__menu .mo__item a .arrow-- {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/arrow__down.svg) no-repeat center;
}

.mobile__gnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: #2F2F2F;
  z-index: 30;
  display: none;
}
.mobile__gnb .mo__sub {
  display: none;
  background-color: #6B6B6B;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.mobile__gnb .mo__sub li a {
  color: #000;
}
.mobile__gnb .mo__item > a:hover {
  color: #0051A2;
}

<<<<<<< HEAD
#sub__wrap {
  height: 100vh;
}

#sub__wrap .header {
  position: relative;
}

.sub__hero {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 600px;
  background: url(../img/main__image-0.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.sub__hero .black--bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 3;
}
.sub__hero .main__text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sub__hero .main__text h2, .sub__hero .main__text p {
  color: #fff;
}
.sub__hero .main__text .sub__slogan {
  font-weight: 500;
  font-size: 20px;
}
.sub__hero .main__text .sub__desc {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  white-space: nowrap;
}

.sub__content {
  position: relative;
  background-color: #fff;
  z-index: 10;
  width: calc(100% - 120px);
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 160px;
}
.sub__content .sub__inner-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub__content .banner__desc {
  margin-bottom: 20px;
  text-align: center;
}
.sub__content .ceo__section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.sub__content .ceo__photo {
  flex: 1 1 400px;
  background-color: #ddd;
  height: 400px; /* 원하는 높이로 조정 */
}
.sub__content .ceo__message {
  flex: 2 1 400px;
  padding: 10px;
}
.sub__content .map__section {
  display: block;
}
.sub__content .map__section .map__photo {
  height: 480px;
  max-height: 640px;
}
.sub__content .map__section .map__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__us {
  margin-bottom: 40px;
}

.map__desc {
  margin-top: 60px;
}
.map__desc h2 {
  font-size: 32px;
  font-weight: 700;
}
.map__desc .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__desc p {
  font-size: 20px;
=======
body {
  overflow-x: hidden;
>>>>>>> c660a6aea498ebbde8d0c42a8d64c5c144f9bd4a
}

.inner {
  width: 100%;
  margin: 0px auto;
}

.section__title {
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 12px;
}

.section__desc {
  font-size: 20px;
}

.more__btn {
  display: flex;
  align-items: center;
}
.more__btn span {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0051A2;
  margin-left: 8px;
}
.more__btn span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  transform: translate(-50%, -50%);
  background: url(../img/baseline__plus.svg) no-repeat center;
}

.active--animation {
  color: #0051A2;
}/*# sourceMappingURL=style.css.map */